@using PMS.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Property Management System : Login Page</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="#">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="#">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="#">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="#">

    <!-- Styles -->
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body class="login-section">
    <div class="container">
        <section id="loginForm" class="content login">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <form action="">
                    <h1>Login Form</h1>
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="link-login">
                        <ul>
                            <li><input type="submit" value="Log in" /></li>
                            <li>
                                <a href="#" class="forgot-pwd-btn">Lost your password?</a>
                                <a href="#" class="register-btn">Register</a>
                            </li>
                        </ul>
                    </div>
                </form>
            }
            <!-- form -->
            <div class="button">
                <a href="#">Property Management System</a>
            </div><!-- button -->
        </section><!-- content -->

        <section class="content register">
            <form action="">
                <h1>Register Form</h1>
                <div>
                    <input type="text" placeholder="Email" required="" id="email" />
                </div>
                <div>
                    <input type="text" placeholder="Username" required="" id="username" />
                </div>
                <div>
                    <input type="password" placeholder="Password" required="" id="password" />
                </div>
                <div class="link-login">
                    <ul>
                        <li><input type="submit" value="Register" /></li>
                        <li>
                            <a href="#" class="forgot-pwd-btn">Lost your password?</a>
                            <a href="#" class="login-btn">Login</a>
                        </li>
                    </ul>
                </div>
            </form><!-- form -->
            <div class="button">
                <a href="#">Property Management System</a>
            </div><!-- button -->
        </section><!-- content -->

        <section class="content forgot-pwd">
            <form action="">
                <h1>New Password</h1>
                <div>
                    <input type="text" placeholder="Email" required="" id="email" />
                </div>
                <div>
                    <input type="password" placeholder="New Password" required="" id="new_password" />
                </div>
                <div class="link-login">
                    <ul>
                        <li><input type="submit" value=" Password" /></li>
                        <li>
                            <a href="#" class="register-btn">Register</a>
                            <a href="#" class="login-btn">Login</a>
                        </li>
                    </ul>
                </div>
            </form><!-- form -->
            <div class="button">
                <a href="#">Property Management System</a>
            </div><!-- button -->
        </section><!-- content -->
    </div><!-- container -->
    <script src="~/Scripts/Jquery/jquery-2.2.3.min.js"></script><!-- jquery vendor -->
    <script>
    $('.login-btn').click(function(){
      $('.login-section .content').css('display','none');
      $('.login-section .content.login').css('display','block');
    });
    $('.register-btn').click(function(){
      $('.login-section .content').css('display','none');
      $('.login-section .content.register').css('display','block');
    });
    $('.forgot-pwd-btn').click(function(){
      $('.login-section .content').css('display','none');
      $('.login-section .content.forgot-pwd').css('display','block');
    });
    </script><!-- scripit init-->
</body>

</html>
